#main-image {
    width: 500px;
    height: 100vh;
    object-fit: cover;

}

body, html{
    height:100vh;
}


body{
    display: flex;
    background-color: black;
    justify-content: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Nunito', sans-serif;
}


.container {
    display: flex;
    width: 1440px;
    height:100%;
    background-color: rgb(243, 243, 243);

}


.account-link-container{
    padding-left: 50px;
}

input{
    border: 1px solid #6d6d6d44;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}

.form-row{
    display: flex; gap: 5rem;
}

.sign-up-form{
    background-color: white;
    border: 0px solid white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.11);
}
button {
    margin:40px;
    background-color: #5B6E4E; /* modern indigo */
    color: white;
    padding: 0.9rem 3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  
  button:hover {
    background-color: #4338ca; /* slightly darker on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:active {
    background-color: #3730a3;
  }

.form-header-text{
    font-size: 20px;
    font-weight:900;
}

.form-fields{
    padding: 10px 30px 10px 30px;

}
.form-header-text{
    padding:15px 0px 0px 30px;
}



.main-form {
    display: flex;
    flex-direction: column;
   

}

.form-detail-text {
    padding: 150px 180px 50px 50px;
    font-size: 23px;
    font-weight:bold;
}

/* REMEMBER TO ADD VARIABLES AND OTHER MORE DYNAMIC TEXT STYLINGS */